body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

.center-content {
    text-align: center;
}

.mobile-verified-tick {
    width: 70px;
    display: block;
    margin: 0 auto 20px;
}

.success-message {
    color: #5cb85c;
    font-size: 24px;
    margin: 10px 0;
}

.login-prompt {
    font-size: 16px;
    color: #34495e;
}

.login-prompt a {
    color: #3498db;
    text-decoration: none;
}

.login-prompt a:hover {
    text-decoration: underline;
}

.mobile-verified-tick-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.mobile-verified-tick-circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}

.mobile-verified-tick-line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
}

.mobile-verified-tick-check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}
